<mat-card class="card-coordinates">
  <mat-card-header>
    <div mat-card-avatar class="card-coordinates-header-image"></div>
    <mat-card-title>Thomas Girault</mat-card-title>
    <mat-card-subtitle>Ingénieur logiciel - Freelance</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Mon profil vous intéresse ? Alors n'hésitez pas à me contacter.</p>
    <p>Nous pourrons prendre rendez-vous et échanger sur vos besoins et vos projets...</p>
    <table>
      <tr>
        <td><mat-icon aria-hidden="false" aria-label="Phone number icon">smartphone</mat-icon></td>
        <td>+33 (0)6 03 37 59 38</td>
      </tr>
      <tr>
        <td><mat-icon aria-hidden="false" aria-label="Email adress icon">mail</mat-icon></td>
        <td><a href="mailto:thomas.girault@epsitek.fr">thomas.girault@epsitek.fr</a></td>
      </tr>
      <tr>
        <td><mat-icon aria-hidden="false" aria-label="Place icon" color="warn">place</mat-icon></td>
        <td>Sur Nantes et ses environs</td>
      </tr>
    </table>
  </mat-card-content>
  <a href="https://www.google.fr/maps/@47.2138452,-1.528745,12z" target="_blank">
    <img mat-card-image src="/assets/images/google-maps-nantes.JPG" alt="Google Maps Nantes" />
  </a>
  <mat-card-actions>
    <ul class="social-icons" align="end">
      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/thomasgirault/" target="_blank"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
      </li>
      <li>
        <a class="github" href="https://github.com/tgirault" target="_blank"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/thomas_girault" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
      </li>
    </ul>
  </mat-card-actions>
</mat-card>
