<div class="background background-about">
  <div class="caption">
    <span class="border">&lt;A PROPOS/&gt;</span>
  </div>
</div>

<div class="container light-container">
  <h3>Qui suis-je ?</h3>
  <p>Je m'appelle Thomas Girault. Fort de 10 ans d'expériences, j'ai voulu me lancer en indépendant.</p>
  <p>J'ai créé l'entreprise Epsitek en 2020.</p>
  <p>utiliser des graphiques, des illustrations</p>
  <p>32 ans</p>
  <p>10 années d'expérience</p>
  <p>8 projets réalisés</p>
  <p>X études menées</p>
</div>

<div style="position: relative">
  <div class="container dark-container">
    <fa-icon [icon]="['fas', 'quote-left']" size="2x"></fa-icon>
    <p>Leader technique confirmé, je souhaite construire avec vous de nouvelles solutions IT ergonomiques, robustes et performantes pour garantir une expérience utilisateur optimale.</p>
  </div>
</div>
