@import './../../core/common';

.container-about {
  margin: 0;
  padding: 0 0 0 80px;
}

.wrapper-about-picture {
  width: 100%;
  height: auto;
}

/* Désactivation de l'effet parallax pour les tablettes et smartphones. */
@media only screen and (max-device-width: 1024px) {
  .container-about {
    padding: 0 10px 0 10px;
  }

  .wrapper-about-picture {
    width: 100%;
    height: auto;
  }
}

.mat-card.card-about .mat-card-header-text {
  margin: 0 0;
}

.mat-card.card-about .mat-card-content {
  text-align: justify;
}

.mat-card.card-about .mat-card-actions {
  text-align: center;
}
