article {
  margin: 0;
  padding: 20px 20px 20px 80px;

  header {
    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: 400;
      color: black;
    }

    h2 {
      font-size: 15px;
      font-weight: 300;
      color: grey;
    }
  }

  p {
    color: black;
    font-size: 14px;

    strong {
      font-weight: 700;
    }
  }

  footer {
    text-align: center;
  }
}

.wrapper-responsive-image {
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
  background-image: url('/assets/images/about-me.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  visibility: visible;
}

.resonsive-image {
  width: 100%;
  height: auto;
  visibility: hidden;
}

@media only screen and (max-device-width: 767px) {
  article {
    padding: 10px;
  }

  .wrapper-responsive-image {
    clip-path: none;
    visibility: hidden;
  }

  .resonsive-image {
    visibility: visible;
  }
}
