@import './../../core/common';

.container-about {
  margin: 0;
  padding: 0 0 0 80px;
}

.wrapper-about-picture {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('/assets/images/about-me.jpg');
  background-size: contain;
  min-width: 300px;
  max-width: 1024px;
  min-height: 250px;
  max-height: 800px;
}

/* Désactivation de l'effet parallax pour les tablettes et smartphones. */
@media only screen and (max-device-width: 1024px) {
  .container-about {
    margin: 0;
    padding: 0 10px 0 10px;
  }
}

.mat-card.card-about .mat-card-header-text {
  margin: 0 0;
}

.mat-card.card-about .mat-card-content {
  text-align: justify;
}

.mat-card.card-about .mat-card-actions {
  text-align: center;
}
