.background-banner {
  // background-image: -webkit-linear-gradient(30deg, #f8f9fa 55%, #edf2f4 55%);
  background-image: url('/assets/images/banner.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eceef1;
  padding-top: 50px;
  position: relative;
}

h1 {
  text-align: left;
  font-weight: 300;
  font-size: 40px;
  color: black;
}

h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

h4 {
  text-align: left;
  color: #1d3557;
  font-size: 20px;
  font-weight: 400;
}

.box {
  width: 200px;
  text-align: left;
  font-size: 25px;
  color: #1d3557;
  font-weight: 400;
}

.contact-button {
  color: white;
  background-color: #3e8914;
  font-size: 15px;
  border-radius: 30px;
}

.contact-button:hover {
  background-color: #489c17;
}

.wrapper-responsive-image {
  background-image: url('/assets/images/words-cloud-green.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  visibility: visible;
}

.resonsive-image {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.contact {
  padding-left: 100px;
}

@media only screen and (max-device-width: 1024px) {
  .contact {
    padding-left: 50px;
  }
}

@media only screen and (max-device-width: 450px) {
  .contact {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 18px;
  }

  .box {
    width: 150px;
    font-size: 18px;
  }
}
