footer {
  background-color: #232f39;
  font-size: 15px;
  line-height: 24px;
  color: #eaf4f4;
  font-family: Quicksand;

  h6 {
    color: #778da9;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }

  a {
    cursor: pointer;
    color: #c0d6df;
    text-decoration: none;
  }

  a:hover {
    color: #f1faee;
    text-decoration: none;
  }

  .quick-links {
    padding-left: 0;
    list-style: none;

    li {
      display: block;
    }

    a {
      color: #eaf4f4;
    }

    a:active,
    a:focus,
    a:hover {
      color: #c0d6df;
      text-decoration: none;
    }
  }

  .social-icons {
    text-align: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-bottom: 4px;
    }

    a {
      display: inline-block;
      font-size: 16px;
      line-height: 44px;
      width: 44px;
      height: 44px;
      text-align: center;
      margin-left: 6px;
      margin-right: 0;
      background-color: #232f39;
      color: #eceeef;
      border-radius: 100%;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }

    a:active,
    a:focus,
    a:hover {
      color: #fff;
      background-color: #778da9;
    }
  }

  .copyright-text {
    margin: 0;
  }
}

@media (max-width: 991px) {
  footer [class^='col-'] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  footer {
    padding-bottom: 0;

    .copyright-text,
    .social-icons {
      text-align: center;
    }
  }
}

@media (max-width: 350px) {
  footer {
    font-size: 13px;
  }
}
