<nav>
  <mat-toolbar class="menu" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button aria-label="Home icon" [routerLink]="['']" fxHide.lt-md>
        <mat-icon>home</mat-icon>
      </button>
      <a class="logo" [routerLink]="['/home']"></a>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <ul class="menu-items">
          <li [class.active]="(activeFragment | async) === 'about'">
            <a [routerLink]="['/home']" fragment="about">{{ "MENU.ABOUT" | translate }}</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'services'">
            <a [routerLink]="['/home']" fragment="services">{{ "MENU.SERVICES" | translate }}</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'skills'">
            <a [routerLink]="['/home']" fragment="skills">{{ "MENU.SKILLS" | translate }}</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'experiences'">
            <a [routerLink]="['/home']" fragment="experiences">{{ "MENU.EXPERIENCES" | translate }}</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'contacts'">
            <a [routerLink]="['/home']" fragment="contacts">{{ "MENU.CONTACTS" | translate }}</a>
          </li>
        </ul>
      </div>
      <div (click)="toggleMenu()" class="btn" fxHide.gt-sm>
        <div class="icon-bar" [@hamburguerX]="!isOpen ? 'hamburguer' : 'topX'"></div>
        <div class="icon-bar" [@hamburguerX]="!isOpen ? 'hamburguer' : 'hide'"></div>
        <div class="icon-bar" [@hamburguerX]="!isOpen ? 'hamburguer' : 'bottomX'"></div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="menu-nav" fxFlexFill fxHide.gt-sm [@openClose]="isOpen ? 'closed' : 'open'" (click)="toggleMenu()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" fragment="about"><mat-icon color="accent">chevron_right</mat-icon>{{ "MENU.ABOUT" | translate }}</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="services"><mat-icon color="accent">chevron_right</mat-icon>{{ "MENU.SERVICES" | translate }}</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="skills"><mat-icon color="accent">chevron_right</mat-icon>{{ "MENU.SKILLS" | translate }}</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="experiences"><mat-icon color="accent">chevron_right</mat-icon>{{ "MENU.EXPERIENCES" | translate }}</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="contacts"><mat-icon color="accent">chevron_right</mat-icon>{{ "MENU.CONTACTS" | translate }}</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </div>
</nav>
