<nav>
  <mat-toolbar class="menu" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button aria-label="Home icon" [routerLink]="['']" fxHide.lt-md>
        <mat-icon>home</mat-icon>
      </button>
      <a class="logo" [routerLink]="['/home']"></a>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <ul class="menu-items">
          <li [class.active]="(activeFragment | async) === 'about'">
            <a [routerLink]="['/home']" fragment="about">A propos</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'services'">
            <a [routerLink]="['/home']" fragment="services">Services</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'skills'">
            <a [routerLink]="['/home']" fragment="skills">Compétences</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'experiences'">
            <a [routerLink]="['/home']" fragment="experiences">Expériences</a>
          </li>
          <li [class.active]="(activeFragment | async) === 'contacts'">
            <a [routerLink]="['/home']" fragment="contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <div (click)="toggleMenu()" class="btn" fxHide.gt-sm>
        <div class="icon-bar" [@hamburguerX]="!isOpen ? 'hamburguer' : 'topX'"></div>
        <div class="icon-bar" [@hamburguerX]="!isOpen ? 'hamburguer' : 'hide'"></div>
        <div class="icon-bar" [@hamburguerX]="!isOpen ? 'hamburguer' : 'bottomX'"></div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="menu-nav" fxFlexFill fxHide.gt-sm [@openClose]="isOpen ? 'closed' : 'open'" (click)="toggleMenu()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" fragment="about">A propos</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="services">Services</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="skills">Compétences</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="experiences">Expériences</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/home']" fragment="contacts">Contacts</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </div>
</nav>
