<form fxLayout="column" [formGroup]="contactForm" (ngSubmit)="send()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Envoyez-moi un message</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Prénom</mat-label>
          <input matInput type="text" placeholder="Votre prénom" formControlName="firstName" required />
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Nom</mat-label>
          <input matInput type="text" placeholder="Votre nom" formControlName="lastName" required />
        </mat-form-field>
      </div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Société</mat-label>
          <input matInput type="text" placeholder="Le nom de votre société" formControlName="company" required />
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Votre adresse email" formControlName="email" required />
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Message</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="20"
            #message
            type="text"
            placeholder="Ecrivez votre message..."
            formControlName="message"
            maxlength="5000"
            required
          ></textarea>
          <mat-hint align="end">{{ message.value?.length || 0 }}/5000</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="submit" mat-raised-button color="primary" aria-label="Envoyer mon message">
        Envoyer
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
