<div class="background background-contacts">
  <div class="caption">
    <span class="border">CONTACTS</span>
  </div>
</div>

<div style="color: #777; background-color: white; text-align: center; padding: 50px 80px; text-align: justify">
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <!-- Première colonne -->
    <div>
      <app-contact-card></app-contact-card>
    </div>
    <!-- Deuxième colonne -->
    <div>
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
