<div class="background background-contacts">
  <div class="caption">
    <span class="border">CONTACTS</span>
  </div>
</div>

<div class="container light-container">
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="60px" fxLayoutGap.xs="20px">
    <!-- Première colonne -->
    <div>
      <app-contact-card></app-contact-card>
    </div>
    <!-- Deuxième colonne -->
    <div>
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
