.box {
  background: rgba(0, 0, 0, 0);
  width: 300px;
  text-align: left;
}

h2 {
  color: white;
  font-weight: 300;
  font-size: 40px;
}

.type-writer {
  font-weight: 500;
  font-size: 30px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
