<!-- Header -->
<header>
  <mat-toolbar class="menu" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button aria-label="Menu icon" (click)="toggleDisplay()" fxShow="true" fxHide.gt-sm>
        <mat-icon *ngIf="!isShow">menu</mat-icon>
        <mat-icon *ngIf="isShow">close</mat-icon>
      </button>
      <button mat-icon-button aria-label="Home icon" (click)="scroll(about)" fxHide.lt-md>
        <mat-icon>home</mat-icon>
      </button>
      <a class="logo" (click)="scroll(about)"></a>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button color="accent" (click)="scroll(about)">A propos</button>
        <button mat-button color="accent" (click)="scroll(services)">Services</button>
        <button mat-button color="accent" (click)="scroll(skills)">Compétences</button>
        <button mat-button color="accent" (click)="scroll(experiences)">Expériences</button>
        <button mat-button color="accent" (click)="scroll(contacts)">Contacts</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="menu-nav" fxFlexFill fxHide.gt-sm [hidden]="!isShow">
    <mat-nav-list>
      <a mat-list-item (click)="scroll(about)">A propos</a>
      <a mat-list-item (click)="scroll(services)">Services</a>
      <a mat-list-item (click)="scroll(skills)">Compétences</a>
      <a mat-list-item (click)="scroll(experiences)">Expériences</a>
      <a mat-list-item (click)="scroll(contacts)">Contacts</a>
    </mat-nav-list>
  </div>
</header>

<app-banner></app-banner>

<!-- Content -->
<section>
  <article #about style="scroll-margin: 55px">
    <app-about></app-about>
  </article>

  <article #services>
    <app-services></app-services>
  </article>

  <article #skills>
    <app-skills></app-skills>
  </article>

  <article #experiences>
    <app-experiences></app-experiences>
  </article>

  <article #contacts>
    <app-contact></app-contact>
  </article>
</section>

<!-- Footer -->
<footer class="site-footer">
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="80px" fxLayoutGap.md="40px" fxLayoutGap.sm="40px" fxLayoutGap.xs="0">
    <div appearance="fill" fxFlex="70%">
      <h6>A propos</h6>
      <fa-icon [icon]="['fas', 'quote-left']" size="2x"></fa-icon>
      <p>Leader technique confirmé, je souhaite construire avec vous de nouvelles solutions IT ergonomiques, robustes et performantes pour garantir une expérience utilisateur optimale.</p>
    </div>

    <div appearance="fill" fxFlex="30%">
      <h6>Liens rapides</h6>
      <ul class="footer-links">
        <li><a (click)="scroll(about)">A propos</a></li>
        <li><a (click)="scroll(services)">Services</a></li>
        <li><a (click)="scroll(skills)">Compétences</a></li>
        <li><a (click)="scroll(experiences)">Expériences</a></li>
        <li><a (click)="scroll(contacts)">Contacts</a></li>
      </ul>
    </div>
  </div>
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div appearance="fill" fxFlex="70%">
      <p>
        Site web développé par <a href="#">Thomas Girault</a>. Code source disponible sur
        <a class="github" href="https://github.com/tgirault/epsitek-front" target="_blank"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>.
      </p>
      <p>
        Photos par
        <a
          href="https://burst.shopify.com/@matthew_henry?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Workspace+Flatlay+With+Leather+Bag+And+Notebook&amp;utm_medium=referral&amp;utm_source=credit"
          >Matthew Henry</a
        >
        sur
        <a
          href="https://burst.shopify.com/entrepreneur?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Workspace+Flatlay+With+Leather+Bag+And+Notebook&amp;utm_medium=referral&amp;utm_source=credit"
          >Burst</a
        >
      </p>
      <p class="copyright-text">Copyright &copy; 2020 <a href="#">Epsitek</a>. Tous droits réservés.</p>
    </div>

    <div appearance="fill" fxFlex="30%">
      <ul class="social-icons">
        <li>
          <a class="linkedin" href="https://www.linkedin.com/in/thomasgirault/" target="_blank"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
        </li>
        <li>
          <a class="github" href="https://github.com/tgirault" target="_blank"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
        </li>
        <li>
          <a class="twitter" href="https://twitter.com/thomas_girault" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
