<article>
  <header>
    <div class="avatar"></div>
    <h1>Thomas Girault</h1>
    <h2>Ingénieur logiciel - Freelance</h2>
  </header>
  <p>Un <strong>besoin</strong> ? Un <strong>projet</strong> ? Prenons le temps d'en discuter.</p>
  <table>
    <tr>
      <td><mat-icon aria-hidden="false" aria-label="Phone number icon">smartphone</mat-icon></td>
      <td>06 03 37 59 38</td>
    </tr>
    <tr>
      <td><mat-icon aria-hidden="false" aria-label="Email adress icon">alternate_email</mat-icon></td>
      <td>
        <a href="mailto:thomas.girault@epsitek.fr">thomas.girault@epsitek.fr</a>
      </td>
    </tr>
    <tr>
      <td><mat-icon aria-hidden="false" aria-label="Place icon">place</mat-icon></td>
      <td>Sur <strong>Nantes</strong> et ses environs</td>
    </tr>
  </table>
  <a href="https://www.google.fr/maps/@47.2138452,-1.528745,12z" target="_blank">
    <img src="/assets/images/google-maps-nantes.jpg" alt="Carte de Nantes et ses environs" class="responsive-image lazyload" />
  </a>
  <footer>
    <ul class="social-icons" align="end">
      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/thomasgirault/" target="_blank"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
      </li>
      <li>
        <a class="github" href="https://github.com/tgirault" target="_blank"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
      </li>
    </ul>
  </footer>
</article>
