<app-title title="competences" image="skills"></app-title>

<div class="container light-container">
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="40px" fxLayoutGap.xs="0px" appAnimate="bounceIn">
    <ng-container *ngFor="let category of ratedSkills">
      <app-category [category]="category"></app-category>
    </ng-container>
  </div>
</div>

<div class="container grey-container">
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutGap.xs="0px" appAnimate="bounceIn">
    <ng-container *ngFor="let category of describedSkills">
      <app-category [category]="category"></app-category>
    </ng-container>
  </div>
</div>

<app-citation phrase="Technophile invétéré, je suis en veille permanente sur les nouvelles technologies."></app-citation>
