<h3 style="text-align: center">Compétences</h3>

<table>
  <tr>
    <td>Java</td>
    <td>
      <mat-icon color="primary">star_rate</mat-icon><mat-icon color="primary">star_rate</mat-icon><mat-icon color="primary">star_rate</mat-icon><mat-icon color="primary">star_rate</mat-icon
      ><mat-icon color="primary">star_rate</mat-icon>
    </td>
  </tr>
  <tr>
    <td>Typescript</td>
    <td>
      <mat-icon color="primary">star_rate</mat-icon><mat-icon color="primary">star_rate</mat-icon><mat-icon color="primary">star_rate</mat-icon><mat-icon color="primary">star_rate</mat-icon
      ><mat-icon color="accent">star_rate</mat-icon>
    </td>
  </tr>
</table>
