<app-title title="Mentions légales" image="legal-mentions"></app-title>

<div class="container light-container">
  <h2>EPSITEK</h2>
  <table>
    <tr>
      <td><strong>S.A.R.L. unipersonnelle au capital de 3 000 €</strong></td>
    </tr>
    <tr>
      <td><strong>RCS Nantes 888 992 583</strong></td>
    </tr>
    <tr>
      <td>Code NAF : <strong>Conseil en systèmes et logiciels informatiques (6202A)</strong></td>
    </tr>
    <tr>
      <td>N° TVA : <strong>FR 09 888 992 583</strong></td>
    </tr>
    <tr>
      <td>Siège social : <strong>18 rue Aristide Hignard - 44000 Nantes - France</strong></td>
    </tr>
    <tr>
      <td>Directeur de la publication : <strong>Thomas GIRAULT</strong></td>
    </tr>
  </table>
  <p></p>
  <h2>DONNÉES PERSONNELLES - RGPD - INFORMATIQUE ET LIBERTÉS</h2>
  <p>
    Le règlement n°2016/679, dit Règlement Général de la Protection des Données (RGPD), est un règlement de l'Union Européènne qui constitue le texte de référence en matière de protections des données
    à caractères personnelles. Certaines informations personnelles peuvent être recueillies par la société EPSITEK, et font l'objet d'un traitement informatique au fins de la bonne gestion de
    l'entreprise. En application de la loi Informatique et Libertés du 6 janvier 1978, il est rappelé au Client que les données nominatives qui lui sont demandées sont nécessaires au traitement de sa
    commande, à l'établissement des factures, ainsi qu'à l'amélioration de la qualité du service. Le Client dispose d'un droit d'accès, de modification, de rectification et de suppression de
    l'ensemble des données personnelles qui le concernent, et peut exercer ce droit à tout moment en adressant un courrier électronique à l'adresse suivante :
    <a href="mailto:thomas.girault@epsitek.fr">thomas.girault@epsitek.fr</a>
  </p>
  <h2>PROPRIÉTÉ INTELLECTUELLE</h2>
  <p>
    L'intégralité du site EPSITEK est protégée par les législations françaises et internationales relatives à la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour
    les documents téléchargeables. L'ensemble des textes, graphismes, icônes, photographies, plans, logos, vidéos, sons, marques (…) et plus généralement l'ensemble des éléments composant le site
    EPSITEK et le site lui-même ne peuvent, conformément à l'article L122-4 du Code de la Propriété Intellectuelle, faire l'objet d'une quelconque représentation ou reproduction, intégrale ou
    partielle, sur quelque support que ce soit, sans l'autorisation expresse et préalable de EPSITEK. Le non-respect de cette interdiction constitue un acte de contrefaçon pouvant engager la
    responsabilité civile et/ou pénale de son auteur. EPSITEK se réserve le droit d'engager des poursuites judiciaires à l'encontre de toute personne qui n'aurait pas respecté cette interdiction. De
    même, il est strictement interdit d'utiliser ou de reproduire le nom EPSITEK et/ou son logo, seuls ou associés, à quelque titre que ce soit et sur quelque support que ce soit sans l'accord
    préalable et écrit de EPSITEK.
  </p>
  <h2>RESPONSABILITÉ</h2>
  <p>
    Les informations communiquées sur le site sont fournies à titre indicatif, elles sont non contractuelles et ne sauraient engager la responsabilité de EPSITEK. Elles peuvent être modifiées ou mises
    à jour sans préavis. EPSITEK se réserve également le droit, à tout moment et sans préavis, d'apporter des améliorations et/ou modifications au site. La responsabilité de EPSITEK ne saurait être
    engagée pour :
  </p>
  <ul>
    <li>
      Les dommages de toute nature, directs ou indirects, résultant de l'utilisation du site de EPSITEK et notamment toute perte d'exploitation, perte financière ou commerciale, perte de programmes
      et/ou de données en particulier dans le système d'information de l'utilisateur.
    </li>

    <li>
      Les dommages de toute nature, directs ou indirects, résultant du contenu et/ou de l'utilisation des sites Internet liés au site de EPSITEK ou auxquels les utilisateurs pourraient avoir accès via
      le site de EPSITEK.
    </li>
    <li>Les omissions et/ou erreurs que pourraient contenir le site.</li>
  </ul>
  <h2>UTILISATEURS</h2>
  <p>
    L'utilisateur du présent site est responsable des dommages de toute nature, matériels ou immatériels, directs ou indirects, causés à tout tiers, y compris à EPSITEK, du fait de l'utilisation ou de
    l'exploitation illicite du site de EPSITEK lui-même et/ou de l'un de ses éléments, quels que soient la cause et le lieu de survenance de ces dommages, et garantit de EPSITEK des conséquences des
    réclamations ou actions dont elle pourrait, de ce fait, faire l'objet. L'utilisateur du site de EPSITEK renonce à exercer tout recours contre EPSITEK dans le cas de poursuites diligentées par un
    tiers à son encontre du fait de l'utilisation et/ou de l'exploitation illicite du site de EPSITEK.
  </p>
  <h2>QUE SONT LES COOKIES ?</h2>
  <p>
    Un cookie est un petit fichier contenant du texte qu'un site web sauvegarde sur votre ordinateur ou votre appareil mobile lorsque vous visitez ce site. Les cookies sont largement utilisés pour
    faire fonctionner les sites web, ou pour les faire fonctionner plus efficacement, ainsi que pour fournir des informations aux propriétaires du site.
  </p>
  <h2>COMMENT UTILISONS-NOUS LES COOKIES?</h2>
  <p>
    Le site web EPSITEK utilise Google Analytics, un service d'analyse du web fourni par Google, Inc. qui nous aide à analyser l'usage qui est fait des sites. À cette fin, Google Analytics utilise des
    cookies, qui sont des fichiers textes placés sur votre ordinateur.
  </p>
  <p>
    Les informations générées par les cookies concernant votre utilisation des sites (informations types concernant l'accès à l'internet y compris votre adresse IP et votre comportement de visiteur
    analysées de manière anonyme) sont transmises à Google, qui les stocke sur ses serveurs. Avant de stocker les informations transmises, Google les rendra anonymes en supprimant le dernier octet de
    votre adresse IP.
  </p>
  <p>
    Les conditions d'utilisation de Google Analytics précisent que Google utilise ces informations pour évaluer l'usage que vous faites des sites et générer, pour EPSITEK, des rapports sur l'activité
    de ses sites.
  </p>
  <p>
    EPSITEK n'utilise pas ni n'autorise aucun tiers à utiliser l'outil d'analyse statistique pour repérer ou recueillir des informations personnelles de visiteurs de son site qui seraient
    identifiables. Google peut transférer les informations recueillies par Google Analytics à des tiers lorsque la loi l'exige ou lorsque ces tiers traitent les informations pour le compte de Google.
  </p>
  <p>Les conditions d'utilisation de Google Analytics précisent que Google n'établit pas de lien entre votre adresse IP et d'autres données détenues par Google.</p>
  <p>
    Vous pouvez refuser l'utilisation des cookies de Google Analytics. Pour cela, un module complémentaire du navigateur sera téléchargé. Ce module indique au fichier JavaScript Google Analytics
    (ga.js) que les informations concernant la visite d'un site ne doivent pas être envoyées à Google Analytics.
  </p>
  <p>
    Les cookies sont également utilisés pour déterminer si vous avez accepté (ou non) que nous utilisions des cookies sur ce site, de façon à ce que la question ne vous soit pas posée à chaque fois
    que vous le consultez.
  </p>
  <h2>MISE EN GARDE</h2>
  <p>
    Si vous décidez d'effacer vos cookies, soyez conscient que toutes les préférences que vous avez éventuellement paramétrées seront perdues. En outre, si vous bloquez tous les cookies, de nombreux
    sites web ne fonctionneront plus correctement.
  </p>
  <h2>GESTION DES COOKIES DANS VOTRE NAVIGATEUR</h2>
  <p>La plupart des navigateurs vous permettent :</p>
  <ul>
    <li>de consulter les cookies qui ont été créés et de les effacer individuellement ;</li>
    <li>de bloquer les cookies créés par des tiers ;</li>
    <li>de bloquer les cookies créés par certains sites ;</li>
    <li>de bloquer tous les cookies, quelle que soit leur origine ;</li>
    <li>d'effacer tous les cookies lorsque vous fermez votre navigateur.</li>
  </ul>
  <h2>SUPPRIMER TOUS LES COOKIES PRÉSENTS SUR VOTRE ORDINATEUR (QUELQUE SOIT LE SITE)</h2>

  <h3>Pour Internet Explorer :</h3>
  <ul>
    <li>Dans Internet Explorer, cliquez sur le bouton Outils, puis sur Options Internet.</li>
    <li>Sous l'onglet Général, sous Historique de navigation, cliquez sur Paramètres.</li>
    <li>Cliquez sur le bouton Afficher les fichiers.</li>
    <li>
      Cliquez sur l'en-tête de colonne Nom pour trier tous les fichiers dans l'ordre alphabétique, puis parcourez la liste jusqu'à ce que vous voyez des fichiers commençant par le préfixe Cookie.
      (tous les cookies possèdent ce préfixe et contiennent habituellement le nom du site Web qui l'a créé).
    </li>
    <li>Sélectionnez-les et supprimez-les</li>
    <li>Fermez la fenêtre qui contient la liste des fichiers, puis cliquez deux fois sur OK pour retourner dans Internet Explorer.</li>
  </ul>

  <h3>Pour Mozilla Firefox :</h3>
  <ul>
    <li>Allez dans l'onglet Outils du navigateur puis sélectionnez le menu Options.</li>
    <li>Dans la fenêtre qui s'affiche, choisissez Vie privée et cliquez sur Affichez les cookies.</li>
    <li>Sélectionnez-les et supprimez-les.</li>
  </ul>

  <h3>Pour Safari :</h3>
  <ul>
    <li>Dans votre navigateur, choisissez le menu édition > Préférences.</li>
    <li>Cliquez sur Sécurité.</li>
    <li>Cliquez sur Afficher les cookies.</li>
    <li>Sélectionnez-les et supprimez-les.</li>
    <li>Après la suppression, cliquez sur Terminé.</li>
  </ul>

  <h3>Pour Google Chrome :</h3>
  <ul>
    <li>Cliquez sur l'icône du menu Outils.</li>
    <li>Sélectionnez Options.</li>
    <li>Cliquez sur l'onglet Options avancées et accédez à la section Confidentialité.</li>
    <li>Cliquez sur le bouton Afficher les cookies.</li>
    <li>Sélectionnez-les et suprimez-les.</li>
    <li>Cliquez sur Fermer pour revenir à votre navigateur.</li>
  </ul>

  <h3>Autre navigateur internet :</h3>
  <p>Consultez la rubrique d'aide propre à ce navigateur (généralement accessible en cliquant sur l'onglet ? ).</p>

  <h2>CRÉDITS</h2>
  <p>Conception, réalisation du site Internet : <a href="mailto:thomas.girault@epsitek.fr">Thomas Girault</a></p>
  <p>
    Photos :
    <a
      href="https://burst.shopify.com/@matthew_henry?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Workspace+Flatlay+With+Leather+Bag+And+Notebook&amp;utm_medium=referral&amp;utm_source=credit"
      target="_blank"
      >Matthew Henry</a
    >
    (sur
    <a
      href="https://burst.shopify.com/entrepreneur?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Workspace+Flatlay+With+Leather+Bag+And+Notebook&amp;utm_medium=referral&amp;utm_source=credit"
      target="_blank"
      >Burst</a
    >)
  </p>
  <h3>Hébergement :</h3>
  <table>
    <tr>
      <td><a href="https://www.ovh.com" target="_blank">OVH</a></td>
    </tr>
    <tr>
      <td>2 rue Kellermann</td>
    </tr>
    <tr>
      <td>59100 Roubaix</td>
    </tr>
  </table>
</div>
