.container {
  font-family: Quicksand;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 600;
}
