.background {
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-services {
  background-image: url('/assets/images/background-services.jpg');
  min-height: 250px;
}

.background-skills {
  background-image: url('/assets/images/background-skills.jpg');
  min-height: 250px;
}

.background-experiences {
  background-image: url('/assets/images/background-experiences.jpg');
  min-height: 250px;
}

.background-contacts {
  background-image: url('/assets/images/background-contacts.jpg');
  min-height: 250px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

@media only screen and (max-device-width: 1024px) {
  .caption span.border {
    font-size: 20px;
  }
}

@media only screen and (max-device-width: 350px) {
  .background {
    background-attachment: scroll;
  }

  .caption span.border {
    font-size: 15px;
  }
}
