.background {
  position: relative;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.background-services {
  background-image: url('/assets/images/background-services.jpg');
}

.background-skills {
  background-image: url('/assets/images/background-skills.jpg');
}

.background-experiences {
  background-image: url('/assets/images/background-experiences.jpg');
}

.background-contacts {
  background-image: url('/assets/images/background-contacts.jpg');
}

.background-legal-mentions {
  background-image: url('/assets/images/background-contacts.jpg');
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;

  span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
}

@media only screen and (max-device-width: 1551px) {
  .background-services {
    background-image: url('/assets/images/background-services-1551x1034.jpg');
  }

  .background-skills {
    background-image: url('/assets/images/background-skills-1551x1034.jpg');
  }

  .background-experiences {
    background-image: url('/assets/images/background-experiences-1551x1034.jpg');
  }

  .background-contacts {
    background-image: url('/assets/images/background-contacts-1551x1013.jpg');
  }

  .background-legal-mentions {
    background-image: url('/assets/images/background-contacts-1551x1013.jpg');
  }
}

@media only screen and (max-device-width: 1024px) {
  .background {
    background-attachment: scroll;
  }

  .caption span.border {
    font-size: 20px;
  }
}

@media only screen and (max-device-width: 776px) {
  .caption span.border {
    font-size: 15px;
  }

  .background-services {
    background-image: url('/assets/images/background-services-776x517.jpg');
  }

  .background-skills {
    background-image: url('/assets/images/background-skills-776x517.jpg');
  }

  .background-experiences {
    background-image: url('/assets/images/background-experiences-776x517.jpg');
  }

  .background-contacts {
    background-image: url('/assets/images/background-contacts-776x507.jpg');
  }

  .background-legal-mentions {
    background-image: url('/assets/images/background-contacts-776x507.jpg');
  }
}

@media only screen and (max-device-width: 396px) {
  .caption span.border {
    font-size: 15px;
    letter-spacing: 6px;
  }

  .background-services {
    background-image: url('/assets/images/background-services-396x264.jpg');
  }

  .background-skills {
    background-image: url('/assets/images/background-skills-396x264.jpg');
  }

  .background-experiences {
    background-image: url('/assets/images/background-experiences-396x264.jpg');
  }

  .background-contacts {
    background-image: url('/assets/images/background-contacts-396x259.jpg');
  }

  .background-legal-mentions {
    background-image: url('/assets/images/background-contacts-396x259.jpg');
  }
}
