<form fxLayout="column" [formGroup]="contactForm" (ngSubmit)="send()">
  <article class="article">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ "LABEL.FIRSTNAME" | translate }}</mat-label>
        <input matInput type="text" placeholder="{{ 'PLACEHOLDER.FIRSTNAME' | translate }}" formControlName="firstName" maxlength="40" required />
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ "LABEL.LASTNAME" | translate }}</mat-label>
        <input matInput type="text" placeholder="{{ 'PLACEHOLDER.LASTNAME' | translate }}" formControlName="lastName" maxlength="40" required />
      </mat-form-field>
    </div>

    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ "LABEL.COMPANY" | translate }}</mat-label>
        <input matInput type="text" placeholder="{{ 'PLACEHOLDER.COMPANY' | translate }}" formControlName="company" maxlength="60" required />
      </mat-form-field>
    </div>

    <div class="input-row">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ "LABEL.EMAIL" | translate }}</mat-label>
        <input matInput placeholder="{{ 'PLACEHOLDER.EMAIL' | translate }}" formControlName="email" maxlength="120" required />
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
    </div>

    <div class="input-row">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ "LABEL.PHONE" | translate }}</mat-label>
        <app-phone-number-input placeholder="{{ 'PLACEHOLDER.PHONE' | translate }}" formControlName="phone" required></app-phone-number-input>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>

    <div class="input-row">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ "LABEL.MESSAGE" | translate }}</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="20"
          #message
          type="text"
          placeholder="{{ 'PLACEHOLDER.MESSAGE' | translate }}"
          formControlName="message"
          maxlength="5000"
          required
        ></textarea>
        <mat-hint align="end">{{ message.value?.length || 0 }}/5000</mat-hint>
      </mat-form-field>
    </div>
    <div class="input-row" style="transform: scale(0.7); transform-origin: 0">
      <re-captcha formControlName="recaptcha"></re-captcha>
    </div>
    <footer>
      <button type="submit" mat-raised-button color="primary" [attr.aria-label]="'PLACEHOLDER.SEND' | translate" [disabled]="contactForm.invalid">
        {{ "LABEL.SEND" | translate }}
        <mat-icon>send</mat-icon>
      </button>
    </footer>
  </article>
</form>
