.mat-expansion-panel-header {
  height: 60px;
}

.experience-header {
  width: 100%;
  height: 60px;
}

.experience-logo {
  float: left;
  background-color: white;
  border: 1px #f2f2f2 solid;
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 0;
}

.experience-company-logo {
  max-width: 50px;
  height: auto;
}

.experience-period {
  float: left;
  height: 50px;
  margin: 10px 0 0 0;
}

.experience-period .period {
  margin: 0;
  font-size: 12px;
}

.experience-period .duration {
  margin: 0;
  font-size: 11px;
  color: grey;
}

.experience-title {
  float: right;
  height: 50px;
  margin: 15px 50px 0 0;
}

.experience-title .title {
  font-size: 17px;
}

h4 {
  text-align: center;
  font-size: large;
  letter-spacing: 1px;
}

.company-logo {
  max-width: 100px;
  height: auto;
}

.customer-logo {
  width: 100px;
  height: auto;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
}

.customer-logo:hover {
  width: 100px;
  height: auto;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.logo {
  display: block;
  background-color: white;
  border: 4px #f2f2f2 solid;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.mat-list-icon {
  color: rgba(23, 54, 93, 0.54);
}

.mat-card-avatar {
  position: relative;
  top: -10px;
  width: 100px;
  height: 100px;
  border: 4px #f2f2f2 solid;
  border-radius: 0;
}
