@import './../../core/common';

.background-experiences {
  background-image: url('/assets/images/background-experiences.jpg');
  min-height: 250px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.company-logo {
  max-width: 100px;
  height: auto;
}

.customer-logo {
  width: 100px;
  height: auto;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
}

.customer-logo:hover {
  width: 100px;
  height: auto;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.logo {
  display: block;
  background-color: white;
  border: 4px #f2f2f2 solid;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.mat-list-icon {
  color: rgba(23, 54, 93, 0.54);
}

.mat-card-actions {
  max-width: 800px;
}

.mat-card-avatar {
  position: relative;
  top: -10px;
  width: 100px;
  height: 100px;
  border: 4px #f2f2f2 solid;
  border-radius: 0;
}
