article {
  background: white;
  width: 100%;
  height: 95%;
  margin-bottom: 20px;
  padding: 16px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;

  .icon {
    $size: 40px;
    font-size: $size;
    width: $size * 1.5; // Makes sure having room to center larger icons
    height: $size * 1.5;
    line-height: $size * 1.5;
    border-radius: 16px;
    vertical-align: middle;
    text-align: center;
  }
  
  .text {
    padding: 16px;
    color: black;

    h1 {
      font-size: 20px;
      font-weight: 700;
    }

    ul.items {
      list-style-type: none;
      padding-inline-start: 10px;
    }
  }
}

article:hover {
  transform: translate3d(0,-5px,0);
  box-shadow: 0 1.5rem 2.5rem rgba(22,28,45,.1),0 .3rem 0.5rem -.50rem rgba(22,28,45,.05) !important;
}

@media only screen and (max-device-width: 767px) {
  article {
    .text {
      padding: 10px;
    }
  }
}
