@import './../../core/common';

.background-experiences {
  background-image: url('/assets/images/background-experiences.jpg');
  min-height: 250px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-card-avatar {
  height: 80px;
  width: 80px;
}

.logo-dsia {
  background-image: url('/assets/images/logo-dsia.png');
  background-size: contain;
}

.logo-soprasteria {
  background-image: url('/assets/images/logo-soprasteria.png');
  background-size: contain;
}
