/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #26272b;
}

body {
  margin: 0;
}

.container {
  padding: 30px 80px;
  text-align: justify;
}

.light-container {
  background-color: white;
}

.dark-container {
  text-align: center;
  padding: 30px 150px;
  font-size: 15px;
  color: whitesmoke;
  background-color: #282e34;
}

.blue-container {
  color: whitesmoke;
  background-color: #1d4270;
}

.grey-container {
  color: #17365d;
  background-color: #f4f7fb;
}

.light-container h3 {
  color: #111;
}

.dark-container h3 {
  color: whitesmoke;
}

li {
  text-align: left;
}

p {
  text-align: left;
}

/* Désactivation de l'effet parallax pour les tablettes et smartphones. */
@media only screen and (max-device-width: 1024px) {
  .container {
    padding: 20px 20px;
  }
}

@media only screen and (max-device-width: 350px) {
  .container {
    padding: 5px 5px;
  }
}
