.background {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.container {
  padding: 50px 80px;
  text-align: justify;
}

.light-container {
  color: #777;
  background-color: white;
}

.dark-container {
  color: #ddd;
  background-color: #282e34;
}

h3 {
  letter-spacing: 2px;
  text-align: center;
  font: 20px 'Lato', sans-serif;
}

.light-container h3 {
  color: #111;
}

.dark-container h3 {
  color: whitesmoke;
}

/* Désactivation de l'effet parallax pour les tablettes et smartphones. */
@media only screen and (max-device-width: 1024px) {
  .background {
    background-attachment: scroll;
  }

  .container {
    padding: 20px 20px;
  }
}
