<app-title title="services" image="services"></app-title>

<div class="container light-container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let prestation of prestations" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="warn">{{ prestation.icon }}</mat-icon
          >&nbsp;&nbsp;{{ prestation.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ prestation.description }}</p>
      <ul class="fa-ul">
        <li *ngFor="let item of prestation.items"><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>&nbsp;{{ item }}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-citation phrase="Vous avez une problématique ou un besoin ? J'ai peut-être la solution pour vous !"></app-citation>
