<div #services class="background background-services">
  <div class="caption">
    <span class="border">&lt;SERVICES/&gt;</span>
  </div>
</div>

<div class="container light-container">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">device_hub</mat-icon> &nbsp;Architecture</mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="fa-ul">
        <li>
          <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> R&eacute;daction de documentation technique (sp&eacute;cifications techniques d&eacute;taill&eacute;es, dossier d'architecture logicielle,
          dossier d'architecture technique)
        </li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Etudes techniques</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mise en place d'un socle technique</li>
        <li>
          <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mise en place d'une architecture en haute disponibilit&eacute;, avec une scalabilit&eacute; horizontale et r&eacute;partition de charge
        </li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Veille technologique et int&eacute;rêt pour les architectures micro-services (Docker, IaaS, PaaS, Saas, DBaaS).</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">create</mat-icon> &nbsp;Conception fonctionnelle et technique</mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="fa-ul">
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> R&eacute;daction de documentation technique (sp&eacute;cifications techniques d&eacute;taill&eacute;es)</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mod&eacute;lisation UML (diagramme de cas d'utilisation, diagrammes de s&eacute;quence, diagramme de classes)</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mod&eacute;lisation de workflow BPMN</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mod&eacute;lisation de bases de donn&eacute;es relationnelles (BCNF)</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">supervised_user_circle</mat-icon> &nbsp;Lead d'&eacute;quipe</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Leader technique dans des &eacute;quipes de d&eacute;veloppement :</p>
      <ul class="fa-ul">
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Suivi des d&eacute;veloppements</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Revues de code</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Suivi des indicateurs</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Support</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mont&eacute;e en comp&eacute;tence des d&eacute;veloppeurs juniors</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Animation de Webinar</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Chiffrages techniques</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> R&eacute;partition des t&acirc;ches et suivi op&eacute;rationnel (plannification, suivi des charges).</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">code</mat-icon> &nbsp;D&eacute;veloppement</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Développement dans les règles de l'art :</p>
      <ul class="fa-ul">
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Choix des technologies/frameworks adapt&eacute;s au besoin</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mise en place de socles techniques s&eacute;curis&eacute;s et performants</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> D&eacute;veloppement de fonctionnalit&eacute;s full-stack Java/Angular</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> D&eacute;veloppement de traitements batch robustes et performants</li>
        <li>
          <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> D&eacute;veloppement d'interfaces utilisateur ergonomiques avec des contraintes de responsive design et d'accessibilit&eacute; (RGAA)
        </li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Veille technologique</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">verified</mat-icon> &nbsp;Qualit&eacute; logicielle</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Mise en application des bonnes pratiques et des principes de qualit&eacute; logicielle :</p>
      <ul class="fa-ul">
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Tests unitaires</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Tests d'int&eacute;gration automatis&eacute;s</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Revue de code</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Suivi des indicateurs de qualim&eacute;trie</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> R&eacute;daction de cas de tests</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">addchart</mat-icon> &nbsp;Performances</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Mesure et optimisation des performances :</p>
      <ul class="fa-ul">
        <li>
          <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> R&eacute;daction d'un cahier des charges (Test de degradation des transactions, tests de mont&eacute;e en charge, tests de performances)
        </li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Pr&eacute;paration et ex&eacute;cution des campagnes de tests (JMeter)</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Relev&eacute; des m&eacute;triques et analyse des r&eacute;sultats (ElasticSearch, Logstash, Kibana)</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Optimisation des performances (JProfiler)</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">verified_user</mat-icon> &nbsp;S&eacute;curit&eacute;</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Sensibilis&eacute; &agrave; la s&eacute;curit&eacute; et exp&eacute;rience d'auditeur en s&eacute;curit&eacute; (OWASP ZAP).</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">settings</mat-icon> &nbsp;M&eacute;thodologie</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Familiaris&eacute; avec les m&eacute;thodologies SCRUM et Agile &agrave; l'&eacute;chelle (Safe).</p>
      <p>Participation aux c&eacute;r&eacute;monies agiles : PI Planning, Daily meeting, Backlog refinement, Sprint planning, Poker Planning, D&eacute;monstration, R&eacute;trospective.</p>
      <p>Exp&eacute;rience de Scrum master dans une &eacute;quipe de 7 personnes.</p>
      <ul class="fa-ul">
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mise en place et animation des c&eacute;r&eacute;monies agiles</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Mise en place du board Jira</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Alimentation des sprints pour l'&eacute;quipe, calcul de la capacit&eacute;, etc.</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">published_with_changes</mat-icon> &nbsp;DevOps</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Mise en place d'un outillage industrialisé :</p>
      <ul class="fa-ul">
        <li>
          <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
          Mise en place de la fabrique logicielle, du pipeline de d&eacute;ploiement continue avec Jenkins.
        </li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Conteneurisation de briques logicielles avec Docker</li>
        <li><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> Installation automatis&eacute;e des briques logicielles avec Ansible.</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon color="warn">storage</mat-icon> &nbsp;Administration syst&egrave;me</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Administration syst&egrave;me et r&eacute;seau des VMs. Bonnes connaissances Unix/Linux. D&eacute;veloppement de scripts Shell.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="container dark-container">
  <p><fa-icon [icon]="['fas', 'quote-left']" size="2x"></fa-icon> Vous avez un problème ou un besoin ? J'ai peut-être la solution pour vous.</p>
</div>
